include MANIFEST.in
include MANIFEST
include setup.py
include INSTALL.txt LICENSE.txt SciPy-LICENSE.txt WCSLIB-LICENSE.txt CHANGES.txt
include windist.bat wininstlogo.bmp
include kapteyn.bib
graft   kapteyn
graft   src
graft   src/wcslib*
graft   src/scipy
graft   doc
graft   kapteyn/lut
